*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

h2
{
    font-size: 30px;
    color: white;
    text-align: center;
}

button
{
    position: relative;
    width: 100%;
    height: 40px;
    background: rgb(224, 229, 255);
    font-size: 20px;
    box-shadow: 0 0 10px white;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 25px;
}

.loginContainer
{
    position: relative;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 50px white;
    padding: 40px;
    overflow: hidden;
}

.inputs
{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.inputContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.loginContainer.active .inputContainer.authenticate
{
    transform: translateY(-450px);
}

.loginContainer .inputContainer.authenticate2
{
    top: 450px;
    position: absolute;
    left: 0;
}

.loginContainer.active .inputContainer.authenticate2
{
    transform: translateY(-450px);
}

.inputs label
{
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 5px;
    color: white;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}

.inputs input:focus~label, .inputs input:valid~label
{
    top:-5px;
}


.inputs input
{
    background: transparent;
    border: none;
    outline: none;
    width: 320px;
    height: 40px;
    font-size: 15px;
    color: white;
    padding: 0 5px;
}

.checkRemember
{
    margin: -5px 0 15px 5px;
}

.checkRemember label
{
    font-size: 14px;
    color: white;
}

.checkRemember label input
{
    color: rgb(142, 142, 142);
}

.signUpLink
{
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
}


.makeAccount p 
{
    margin-top: 30px;
    color:white;
}


.makeAccount p a
{
    color: rgb(224, 229, 255);
    text-decoration: none;
    font-weight: 500;
}

.makeAccount p a:hover
{
    text-decoration: underline;
}