@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply h-10 px-4 py-2 text-sm text-white rounded-md dark:bg-white bg-slate-950 dark:text-black hover:bg-slate-950/90 dark:hover:bg-white/90;
  }

  .btn-danger {
    @apply h-10 px-4 py-2 text-sm transition-colors duration-300 border-2 rounded-md text-rose-500 border-rose-500 hover:text-white hover:bg-rose-500;
  }

  .card {
    @apply flex items-center justify-center w-20 text-black border-black border-solid rounded-lg cursor-pointer h-28 lg:h-48 lg:w-32 dark:bg-neutral-700/10 bg-slate-100/80;
  }

  .form-input {
    @apply h-10 px-3 py-2 text-sm border-2 border-gray-300 rounded-md dark:bg-neutral-800/80 dark:border-0 dark:text-white;
  }

  .alert {
    @apply p-2 text-center border rounded-xl dark:border-rose-500 dark:text-rose-400 border-rose-600 text-rose-600;
  }
}
