@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply h-10 px-4 py-2 text-sm text-white rounded-md dark:bg-white bg-slate-950 dark:text-black hover:bg-slate-950/90 dark:hover:bg-white/90;
  }

  .btn-danger {
    @apply h-10 px-4 py-2 text-sm transition-colors duration-300 border-2 rounded-md text-rose-500 border-rose-500 hover:text-white hover:bg-rose-500;
  }

  .card {
    @apply flex items-center justify-center w-32 h-48 text-black border-2 border-black border-solid dark:border-white dark:text-white;
  }

  .form-input {
    @apply h-10 px-3 py-2 text-sm border-2 border-gray-300 rounded-md dark:bg-neutral-800/80 dark:border-0 dark:text-white;
  }
}
